{% extends "../base/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:profile" %}';
</script>
{% endif %}

<style>
    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('https://picsum.photos/id/1079/1080');
        background-size: cover;
        background-position: center center;
    }

    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12  mx-auto">

                            <form class="account-form p-4 rounded" action="{% url 'login' %}" method="post">

                                {% csrf_token %}
                                <p class="h4 mb-4 font-weight-bold">Sign In</p>

                                {% if form.errors %}
                                <div class="alert alert-primary" role="alert">
                                    Error: Username or Password not correct!
                                </div>
                                {% endif %}

                                <label class="small font-weight-bold">{{ form.username.label}}</label>
                                {{ form.username}}

                                <label class="small font-weight-bold">{{ form.password.label}}</label>
                                {{ form.password}}

                                <button class="btn btn-dark btn-block py-2 mb-4 mt-5 font-weight-bold" type="submit"
                                    value="Log-in">Sign
                                    in</button>

                                <p class="small font-weight-bold text-center pb-3">
                                    <a href="{% url "accounts:register" %}">New to Blog? Create an account</a>
                                </p>

                                <hr class="mb-3">
                                <p class="small text-center">By signing in to your account, you agree to Blog <a
                                        href="">Terms of
                                        Service</a> and
                                    consent to
                                    our <a href="">Cookie Policy</a> and <a href="">Privacy Policy</a>. This site is not
                                    protected
                                    by reCAPTCHA and
                                    is a demonstration website
                                    for learning purposes only.
                                </p>
                            </form>
                            <p class="small text-center pt-4">
                                <a href="{% url "password_reset" %}">Forgotten Password?</a>
                            </p>
                            <p class="small text-center">
                                <a href="{% url "accounts:register" %}">Help Center?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
    </div>
</div>
{% endblock %}