{% extends "../base/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% include "../base/nav-main.html" %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h1>User Dashboard</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Logout</a>
            </p>
        </div>
    </section>
</div>
{% include "base/footer.html" %}
{% endblock %}