{% extends "../base/base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
{% include "base/nav-main.html" %}
<style>
    .update-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .update-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>

<div class="container-fluid my-5">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">

                <form class="form-reset p-4 rounded update-form" method="post" enctype="multipart/form-data">

                    {% if user_form.is_valid %}
                    <div class="alert alert-primary" role="alert">
                        Details successfully updated!
                    </div>
                    <p class="small text-center pt-0">
                        <a href="{% url "accounts:profile" %}">Back to Dashboard</a>
                    </p>
                    {%else%}
                    <p class=" h4 mb-4 font-weight-bold">Change your details</p>
                    <p>You can edit your account using the following form:</p>
                    {% endif %}

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Error: Please try again!
                    </div>
                    {% endif %}

                    {% csrf_token %}
                    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
                    {{ user_form.first_name }}
                    <label class="small font-weight-bold">{{ user_form.last_name.label}}</label>
                    {{ user_form.last_name }}
                    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
                    {{ user_form.email }}
                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 font-weight-bold" type="submit"
                        value="Save changes">Save Changes</button>
                    <hr class="mb-3">
                    <p class=" h5 mb-2 pt-4 font-weight-bold">Delete Account</p>
                    <p class="small">If you would like to delete your account press the button below:</p>
                    <a href="{% url "accounts:deleteuser" %}"
                        class="btn btn-danger btn-block py-2 mb-4 mt-5 font-weight-bold" role="button"
                        aria-pressed="true">Delete Account</a>
                </form>

            </div>
        </div>
    </section>
</div>
{% include "base/footer.html" %}
{% endblock %}