{% extends "../base.html" %}

{% block title %}
Terms of service
{% endblock %}

{% block content %}
<div class="container my-5">
    <section>
        <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
        <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
        <hr class="w-header">
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have
            some other questions, see our support center.</p>
        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto mb-5">
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card border-top border-bottom-0 border-left border-right border-light">
                        <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1"
                                aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Is this a secure site for purchases? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                Absolutely! We work with top payment companies which guarantees your safety and
                                security. All billing information is stored on our payment processing partner which has
                                the most stringent level of certification available in the payments industry.
                            </div>
                        </div>
                    </div>
                    <div class="card border-bottom-0 border-left border-right border-light">
                        <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                aria-expanded="false" aria-controls="collapseTwo2">
                                <h5 class="black-text font-weight-normal mb-0">
                                    How long are your contracts? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
                                account at any time with no further obligation.
                            </div>
                        </div>
                    </div>
                    <div class="card border-bottom-0 border-left border-right border-light">
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Can I cancel my subscription? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                You can cancel your subscription anytime in your account. Once the subscription is
                                cancelled, you will not be charged next month. You will continue to have access to your
                                account until your current subscription expires.
                            </div>
                        </div>
                    </div>
                    <div class="card border-left border-right border-light">
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Can I request refund? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                Unfortunately, not. We do not issue full or partial refunds for any reason.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}